$primery-color: #FFFFFF;
$secondary-color: #102746;
$link-color: #006DFE;

$bg-btn: #1B7DFF;
$bg-btn-hover: #529dff;

$bg__header-active: #0e1d28dc; 
$benefits__box-shadow: #15182429;
$bg-places-card: #15182466;
$bg__footer: #0E1D28;